# Create Sample data

In [2]:
import pickle
import numpy as np
import pandas as pd
import glob

In [2]:
class_names = ['class_'+str(i) for i in range(34)]

In [41]:
sample = pd.DataFrame(sample['data'])

KeyError: 'data'

In [42]:
data_dir = './data/'
data_list = glob.glob(data_dir+'*')
data_list= sorted(data_list)

In [38]:
save_path = ['sample'+ str(i) for i in [1,2,3,4]]
for idx, path in enumerate(data_list):
    with open(path, mode='rb') as f:
#         data = pd.DataFrame(pickle.load(f))
        data = pickle.load(f)
    data = pd.DataFrame(data['data'])
    data.columns = class_names
    
    with open(data_dir+save_path[idx], mode='wb') as f:
        pickle.dump(data, f)

./data/sample.pkl
./data/sample1.pkl
./data/sample2.pkl
./data/sample3.pkl

In [3]:
path = './data/sample4.pkl'
with open(path, mode='rb') as f:
    data = pickle.load(f)
data.head()

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9,...,class_24,class_25,class_26,class_27,class_28,class_29,class_30,class_31,class_32,class_33
0,0.071220,0.004093,3.167908,0.153470,0.165666,0.496891,0.015975,0.089320,-22.949775,1.239422,...,0.002776,0.008053,0.006017,0.004816,-0.002849,0.035825,0.018504,0.009232,-0.002244,0.015132
1,0.078467,-0.001927,3.325896,0.141175,0.174863,0.536602,0.010348,0.089613,-22.768389,1.207025,...,-0.002546,0.002543,0.018293,0.006447,0.014426,0.011221,-0.005236,0.002487,0.007510,0.005976
2,0.064797,0.016909,3.334751,0.139658,0.178000,0.585440,0.011413,0.090727,-22.742874,1.230729,...,-0.007870,0.020031,0.002407,0.016469,0.017364,0.005077,0.005959,0.008022,0.005379,0.013403
3,0.083465,0.009694,3.315351,0.147452,0.156181,0.595425,-0.009052,0.089443,-22.806315,1.222951,...,0.005725,0.012954,-0.002454,0.005111,0.013566,0.013623,0.006898,0.011222,0.005615,-0.007226
4,0.086342,0.013811,3.310482,0.158276,0.176468,0.563439,0.018223,0.106134,-22.879436,1.147603,...,0.006017,-0.007577,0.005376,0.019599,0.017114,0.006523,0.015652,0.008835,-0.007214,0.006868

In [4]:
sample4 = data.iloc[:,0:10]
sample4.head()

,class_0,class_1,class_2,class_3,class_4,class_5,class_6,class_7,class_8,class_9
0,0.071220,0.004093,3.167908,0.153470,0.165666,0.496891,0.015975,0.089320,-22.949775,1.239422
1,0.078467,-0.001927,3.325896,0.141175,0.174863,0.536602,0.010348,0.089613,-22.768389,1.207025
2,0.064797,0.016909,3.334751,0.139658,0.178000,0.585440,0.011413,0.090727,-22.742874,1.230729
3,0.083465,0.009694,3.315351,0.147452,0.156181,0.595425,-0.009052,0.089443,-22.806315,1.222951
4,0.086342,0.013811,3.310482,0.158276,0.176468,0.563439,0.018223,0.106134,-22.879436,1.147603

In [5]:
path='./data/sample4.pkl'
with open(path, mode='wb') as f:
    pickle.dump(sample4, f)